In [ ]:
# Setup & Install Packages

# pyenv install 3.7.4
# pyenv local 3.7.4

# pipenv --python 3.7.4
# pipenv install requests
# pipenv install beautifulsoup4
# pipenv install pandas

# pipenv install jupyterlab

In [ ]:
# Check Installation

# !pyenv local
# !python -V
# !pip list

In [102]:
# Import packages

import requests
from bs4 import BeautifulSoup
import pandas as pd

In [103]:
# Download and parse the HTML
# https://en.wikipedia.org/wiki/Tesla,_Inc.

start_url = 'https://en.wikipedia.org/wiki/Tesla,_Inc.'

# Download the HTML from start_url
downloaded_html = requests.get(start_url)

# Parse the HTML with BeautifulSoup and create a soup object
soup = BeautifulSoup(downloaded_html.text)

# Save a local copy
with open('downloaded.html', 'w',errors='replace') as file:
    # Depending on the HTML page, on the next line, you may have to use soup.prettify().encode('UTF-8')
    file.write(soup.prettify())

In [104]:
# Select table.wikitable

full_table = soup.select('table.wikitable tbody')[0]
print(full_table)

<tbody><tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales</th>
<th>Model X<br/>sales</th>
<th>Model 3<br/>sales
</th>
<th>Model Y<br/>sales<sup class="reference" id="cite_ref-103"><a href="#cite_note-103">[b]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-104"><a href="#cite_note-104">[c]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-105"><a href="#cite_note-105">[d]</a></sup></th>
<th>Source
</th></tr>
<tr style="text-align:center;">
<td>Q1 2013</td>
<td>N/A</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-106"><a href="#cite_note-106">[102]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,150</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[103]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,500+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[104]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-109"><a href="#cite_note-109">[105]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[106]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-111"><a href="#cite_note-111">[107]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-112"><a href="#cite_note-112">[108]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-113"><a href="#cite_note-113">[109]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-114"><a href="#cite_note-114">[110]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-115"><a href="#cite_note-115">[111]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-116"><a href="#cite_note-116">[112]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-117"><a href="#cite_note-117">[113]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_118-0"><a href="#cite_note-Tesla1Q2016-118">[114]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-119"><a href="#cite_note-119">[115]</a></sup><sup class="reference" id="cite_ref-120"><a href="#cite_note-120">[116]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-121"><a href="#cite_note-121">[117]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-122"><a href="#cite_note-122">[e]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-123"><a href="#cite_note-123">[118]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_124-0"><a href="#cite_note-Tesla4Q2016final-124">[119]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_125-0"><a href="#cite_note-Tesla1Q2017-125">[120]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_126-0"><a href="#cite_note-Tesla2Q2017-126">[121]</a></sup><sup class="reference" id="cite_ref-127"><a href="#cite_note-127">[122]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td style="background:#f1f5fa;"></td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_128-0"><a href="#cite_note-Tesla3Q2017-128">[123]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_129-0"><a href="#cite_note-3Q2017Tesla250K-129">[124]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td style="background:#f1f5fa;"></td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_130-0"><a href="#cite_note-Tesla4Q2017-130">[125]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_131-0"><a href="#cite_note-Tesla4Q2017_AggProduction-131">[126]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_132-0"><a href="#cite_note-Tesla4Q2017final-132">[127]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td style="background:#f1f5fa;"></td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_133-0"><a href="#cite_note-Tesla1Q2018-133">[128]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td style="background:#f1f5fa;"></td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_134-0"><a href="#cite_note-Tesla2Q2018-134">[129]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_135-0"><a href="#cite_note-Tesla2Q2018final-135">[130]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td style="background:#f1f5fa;"></td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_136-0"><a href="#cite_note-Tesla3Q2018-136">[131]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_137-0"><a href="#cite_note-Tesla3Q2018final-137">[132]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td style="background:#f1f5fa;"></td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_138-0"><a href="#cite_note-Tesla4Q2018-138">[133]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_76-1"><a href="#cite_note-Tesla4Q2018final-76">[75]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td style="background:#f1f5fa;"></td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_139-0"><a href="#cite_note-Tesla1Q2019-139">[134]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td style="background:#f1f5fa;"></td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_140-0"><a href="#cite_note-Tesla2Q2019-140">[135]</a></sup><sup class="reference" id="cite_ref-wired20190703_141-0"><a href="#cite_note-wired20190703-141">[136]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td style="background:#f1f5fa;"></td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_142-0"><a href="#cite_note-Tesla3Q2019-142">[137]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,450</td>
<td>92,550</td>
<td style="background:#f1f5fa;"></td>
<td>112,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2019_75-1"><a href="#cite_note-Tesla4Q2019-75">[74]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,200</td>
<td colspan="2">76,200</td>
<td>88,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-143"><a href="#cite_note-143">[138]</a></sup>
</td></tr>
<tr style="text-align:center;">
<td>Q2 2020</td>
<td>1,105,990</td>
<td>82,272</td>
<td colspan="2">10,600</td>
<td colspan="2">80,050</td>
<td>90,650</td>
<td></td>
<td><sup class="reference" id="cite_ref-144"><a href="#cite_note-144">[139]</a></sup>
</td></tr></tbody>

In [105]:
# Extract the table column headings
# End result: A list with all the column headings

table_head = full_table.select('tr th')

print('-----------')
for element in table_head:
    print(element.text)

-----------
Quarter
Cumulativeproduction
Totalproduction
Model Ssales
Model Xsales
Model 3sales

Model Ysales[b]
Totalsales[c]
In transit[d]
Source

In [106]:
# Extract the table column headings
# End result: A list with all the column headings

# >> Let's try this again

table_head = full_table.select('tr th')

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    table_columns.append(column_label)
    print(column_label)

print('-----------')
print(table_columns)

Quarter
Cumulative production
Total production
Model S sales
Model X sales
Model 3 sales
Model Y sales [b]
Total sales [c]
In transit [d]
Source
-----------
['Quarter', 'Cumulative production', 'Total production', 'Model S sales', 'Model X sales', 'Model 3 sales', 'Model Y sales [b]', 'Total sales [c]', 'In transit [d]', 'Source']

In [107]:
# Extract the table column headings
# >> Iteration 3

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    column_label = column_label.replace(' ', '_')
    table_columns.append(column_label)
print(table_columns)

['Quarter', 'Cumulative_production', 'Total_production', 'Model_S_sales', 'Model_X_sales', 'Model_3_sales', 'Model_Y_sales_[b]', 'Total_sales_[c]', 'In_transit_[d]', 'Source']

In [108]:
# Extract the table column headings
# End result: A list with all the column headings

# >> Final Iteration

import re
regex = re.compile('_\[\w\]')

table_columns = []
for element in table_head:
    column_label = element.get_text(separator=" ", strip=True)
    column_label = column_label.replace(' ', '_')
    column_label = regex.sub('', column_label)
    table_columns.append(column_label)
print(table_columns)

['Quarter', 'Cumulative_production', 'Total_production', 'Model_S_sales', 'Model_X_sales', 'Model_3_sales', 'Model_Y_sales', 'Total_sales', 'In_transit', 'Source']

In [109]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

table_rows = full_table.select('tr')
print(table_rows)

[<tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales</th>
<th>Model X<br/>sales</th>
<th>Model 3<br/>sales
</th>
<th>Model Y<br/>sales<sup class="reference" id="cite_ref-103"><a href="#cite_note-103">[b]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-104"><a href="#cite_note-104">[c]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-105"><a href="#cite_note-105">[d]</a></sup></th>
<th>Source
</th></tr>, <tr style="text-align:center;">
<td>Q1 2013</td>
<td>N/A</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-106"><a href="#cite_note-106">[102]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,150</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[103]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,500+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[104]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-109"><a href="#cite_note-109">[105]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[106]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-111"><a href="#cite_note-111">[107]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-112"><a href="#cite_note-112">[108]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-113"><a href="#cite_note-113">[109]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-114"><a href="#cite_note-114">[110]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-115"><a href="#cite_note-115">[111]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-116"><a href="#cite_note-116">[112]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-117"><a href="#cite_note-117">[113]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_118-0"><a href="#cite_note-Tesla1Q2016-118">[114]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-119"><a href="#cite_note-119">[115]</a></sup><sup class="reference" id="cite_ref-120"><a href="#cite_note-120">[116]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-121"><a href="#cite_note-121">[117]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-122"><a href="#cite_note-122">[e]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-123"><a href="#cite_note-123">[118]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_124-0"><a href="#cite_note-Tesla4Q2016final-124">[119]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_125-0"><a href="#cite_note-Tesla1Q2017-125">[120]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_126-0"><a href="#cite_note-Tesla2Q2017-126">[121]</a></sup><sup class="reference" id="cite_ref-127"><a href="#cite_note-127">[122]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td style="background:#f1f5fa;"></td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_128-0"><a href="#cite_note-Tesla3Q2017-128">[123]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_129-0"><a href="#cite_note-3Q2017Tesla250K-129">[124]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td style="background:#f1f5fa;"></td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_130-0"><a href="#cite_note-Tesla4Q2017-130">[125]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_131-0"><a href="#cite_note-Tesla4Q2017_AggProduction-131">[126]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_132-0"><a href="#cite_note-Tesla4Q2017final-132">[127]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td style="background:#f1f5fa;"></td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_133-0"><a href="#cite_note-Tesla1Q2018-133">[128]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td style="background:#f1f5fa;"></td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_134-0"><a href="#cite_note-Tesla2Q2018-134">[129]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_135-0"><a href="#cite_note-Tesla2Q2018final-135">[130]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td style="background:#f1f5fa;"></td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_136-0"><a href="#cite_note-Tesla3Q2018-136">[131]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_137-0"><a href="#cite_note-Tesla3Q2018final-137">[132]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td style="background:#f1f5fa;"></td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_138-0"><a href="#cite_note-Tesla4Q2018-138">[133]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_76-1"><a href="#cite_note-Tesla4Q2018final-76">[75]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td style="background:#f1f5fa;"></td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_139-0"><a href="#cite_note-Tesla1Q2019-139">[134]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td style="background:#f1f5fa;"></td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_140-0"><a href="#cite_note-Tesla2Q2019-140">[135]</a></sup><sup class="reference" id="cite_ref-wired20190703_141-0"><a href="#cite_note-wired20190703-141">[136]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td style="background:#f1f5fa;"></td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_142-0"><a href="#cite_note-Tesla3Q2019-142">[137]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,450</td>
<td>92,550</td>
<td style="background:#f1f5fa;"></td>
<td>112,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2019_75-1"><a href="#cite_note-Tesla4Q2019-75">[74]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,200</td>
<td colspan="2">76,200</td>
<td>88,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-143"><a href="#cite_note-143">[138]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2020</td>
<td>1,105,990</td>
<td>82,272</td>
<td colspan="2">10,600</td>
<td colspan="2">80,050</td>
<td>90,650</td>
<td></td>
<td><sup class="reference" id="cite_ref-144"><a href="#cite_note-144">[139]</a></sup>
</td></tr>]

In [110]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Iteration 2

table_rows = full_table.select('tr')

table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text)
        table_data.append(row_list)

print(table_data)

[['Q1 2013', 'N/A', '5,000+', '4,900', '', '', '', '4,900', '', '[102]\n'], ['Q2 2013', 'N/A', 'N/A', '5,150', '', '', '', '5,150', '', '[103]\n'], ['Q3 2013', 'N/A', 'N/A', '5,500+', '', '', '', '5,500+', '', '[104]\n'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '', '6,892', '', '[105]\n'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '', '6,457', '', '[106]\n'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '', '7,579', '', '[107]\n'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '', '7,785', '', '[108]\n'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '', '9,834', '', '[109]\n'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '', '10,045', '', '[110]\n'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '', '11,532', '', '[111]\n'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '', '11,603', '', '[112]\n'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '', '17,478', '', '[113]\n'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '', '14,820', '2,615', '[114]\n'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '', '14,402', '5,150', '[115][116]\n'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '', '24,821', '5,065', '[117]\n'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500', '', '', '22,254', '6,450', '[118][119]\n'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '', '25,051', '~4,650', '[120]\n'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '', '22,026', '~3,500', '[121][122]\n'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '', '26,137', '4,820', '[123][124]\n'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '', '29,967', '3,380', '[125][126][127]\n'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '', '29,997', '6,100', '[128]\n'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '', '40,740', '15,058', '[129][130]\n'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '', '83,725', '11,824', '[131][132]\n'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '', '90,700', '2,907', '[133][75]\n'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '', '63,000', '10,600', '[134]\n'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '', '95,200', '7,400', '[135][136]\n'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '', '97,186', '', '[137]\n'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '', '112,000', '', '[74]\n'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[138]\n'], ['Q2 2020', '1,105,990', '82,272', '10,600', '80,050', '90,650', '', '[139]\n']]

In [111]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Final Iteration

table_rows = full_table.select('tr')
table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)

print(table_data)

[['Q1 2013', 'N/A', '5,000+', '4,900', '', '', '', '4,900', '', '[102]'], ['Q2 2013', 'N/A', 'N/A', '5,150', '', '', '', '5,150', '', '[103]'], ['Q3 2013', 'N/A', 'N/A', '5,500+', '', '', '', '5,500+', '', '[104]'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '', '6,892', '', '[105]'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '', '6,457', '', '[106]'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '', '7,579', '', '[107]'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '', '7,785', '', '[108]'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '', '9,834', '', '[109]'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '', '10,045', '', '[110]'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '', '11,532', '', '[111]'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '', '11,603', '', '[112]'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '', '17,478', '', '[113]'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '', '14,820', '2,615', '[114]'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '', '14,402', '5,150', '[115][116]'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '', '24,821', '5,065', '[117]'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500', '', '', '22,254', '6,450', '[118][119]'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '', '25,051', '~4,650', '[120]'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '', '22,026', '~3,500', '[121][122]'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '', '26,137', '4,820', '[123][124]'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '', '29,967', '3,380', '[125][126][127]'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '', '29,997', '6,100', '[128]'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '', '40,740', '15,058', '[129][130]'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '', '83,725', '11,824', '[131][132]'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '', '90,700', '2,907', '[133][75]'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '', '63,000', '10,600', '[134]'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '', '95,200', '7,400', '[135][136]'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '', '97,186', '', '[137]'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '', '112,000', '', '[74]'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[138]'], ['Q2 2020', '1,105,990', '82,272', '10,600', '80,050', '90,650', '', '[139]']]

In [112]:
# Create a Pandas DataFrame

df = pd.DataFrame(table_data, columns=table_columns) 
df

,Quarter,Cumulative_production,Total_production,Model_S_sales,Model_X_sales,Model_3_sales,Model_Y_sales,Total_sales,In_transit,Source
0,Q1 2013,N/A,"5,000+","4,900",,,,"4,900",,[102]
1,Q2 2013,N/A,N/A,"5,150",,,,"5,150",,[103]
2,Q3 2013,N/A,N/A,"5,500+",,,,"5,500+",,[104]
3,Q4 2013,"~34,851","6,587","6,892",,,,"6,892",,[105]
4,Q1 2014,"~41,438","7,535","6,457",,,,"6,457",,[106]
5,Q2 2014,"~48,973","8,763","7,579",,,,"7,579",,[107]
6,Q3 2014,"~57,736","~7,075","7,785",,,,"7,785",,[108]
7,Q4 2014,"64,811","11,627","9,834",,,,"9,834",,[109]
8,Q1 2015,"76,438","11,160","10,045",,,,"10,045",,[110]
9,Q2 2015,"89,245","12,807","11,532",,,,"11,532",,[111]
10,Q3 2015,"102,336","13,091","11,597",6,,,"11,603",,[112]
11,Q4 2015,"116,373","14,037","17,272",206,,,"17,478",,[113]
12,Q1 2016,"131,883","15,510","12,420","2,400",,,"14,820","2,615",[114]
13,Q2 2016,"150,228","18,345","9,764","4,638",,,"14,402","5,150",[115][116]
14,Q3 2016,"175,413","25,185","16,047","8,774",,,"24,821","5,065",[117]
15,Q4 2016[e],"200,295","24,882","12,700","9,500",,,"22,254","6,450",[118][119]
16,Q1 2017,"225,713","25,418","~13,450","~11,550",,,"25,051","~4,650",[120]
17,Q2 2017,"251,421","25,708","~12,000","~10,000",,,"22,026","~3,500",[121][122]
18,Q3 2017,"276,757","25,336","14,065","11,865",222,,"26,137","4,820",[123][124]
19,Q4 2017,"301,322","24,565","~15,200","~13,120","1,542",,"29,967","3,380",[125][126][127]
20,Q1 2018,"335,816","34,494","11,730","10,070","8,182",,"29,997","6,100",[128]
21,Q2 2018,"389,155","53,339","10,930","11,370","18,440",,"40,740","15,058",[129][130]
22,Q3 2018,"469,297","80,142","14,470","13,190","56,065",,"83,725","11,824",[131][132]
23,Q4 2018,"555,852","86,555","13,500","14,050","63,359",,"90,700","2,907",[133][75]
24,Q1 2019,"632,952","77,100","12,100","50,900",,"63,000","10,600",[134],None
25,Q2 2019,"720,000","87,048","17,650","77,550",,"95,200","7,400",[135][136],None
26,Q3 2019,"816,155","96,155","17,483","79,703",,"97,186",,[137],None
27,Q4 2019,"921,046","104,891","19,450","92,550",,"112,000",,[74],None
28,Q1 2020,"1,023,718","102,672","12,200","76,200","88,400",,[138],None,None
29,Q2 2020,"1,105,990","82,272","10,600","80,050","90,650",,[139],None,None

In [113]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

table_rows = full_table.select('tr')
print(table_rows)

[<tr style="text-align:center;">
<th>Quarter</th>
<th>Cumulative<br/>production</th>
<th>Total<br/>production</th>
<th>Model S<br/>sales</th>
<th>Model X<br/>sales</th>
<th>Model 3<br/>sales
</th>
<th>Model Y<br/>sales<sup class="reference" id="cite_ref-103"><a href="#cite_note-103">[b]</a></sup></th>
<th>Total<br/>sales<sup class="reference" id="cite_ref-104"><a href="#cite_note-104">[c]</a></sup></th>
<th>In transit<sup class="reference" id="cite_ref-105"><a href="#cite_note-105">[d]</a></sup></th>
<th>Source
</th></tr>, <tr style="text-align:center;">
<td>Q1 2013</td>
<td>N/A</td>
<td>5,000+</td>
<td>4,900</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>4,900</td>
<td></td>
<td><sup class="reference" id="cite_ref-106"><a href="#cite_note-106">[102]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,150</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,150</td>
<td></td>
<td><sup class="reference" id="cite_ref-107"><a href="#cite_note-107">[103]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2013</td>
<td>N/A</td>
<td>N/A</td>
<td>5,500+</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>5,500+</td>
<td></td>
<td><sup class="reference" id="cite_ref-108"><a href="#cite_note-108">[104]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2013</td>
<td>~34,851</td>
<td>6,587</td>
<td>6,892</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,892</td>
<td></td>
<td><sup class="reference" id="cite_ref-109"><a href="#cite_note-109">[105]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2014</td>
<td>~41,438</td>
<td>7,535</td>
<td>6,457</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>6,457</td>
<td></td>
<td><sup class="reference" id="cite_ref-110"><a href="#cite_note-110">[106]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2014</td>
<td>~48,973</td>
<td>8,763</td>
<td>7,579</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,579</td>
<td></td>
<td><sup class="reference" id="cite_ref-111"><a href="#cite_note-111">[107]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2014</td>
<td>~57,736</td>
<td>~7,075</td>
<td>7,785</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>7,785</td>
<td></td>
<td><sup class="reference" id="cite_ref-112"><a href="#cite_note-112">[108]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2014</td>
<td>64,811</td>
<td>11,627</td>
<td>9,834</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>9,834</td>
<td></td>
<td><sup class="reference" id="cite_ref-113"><a href="#cite_note-113">[109]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2015</td>
<td>76,438</td>
<td>11,160</td>
<td>10,045</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>10,045</td>
<td></td>
<td><sup class="reference" id="cite_ref-114"><a href="#cite_note-114">[110]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2015</td>
<td>89,245</td>
<td>12,807</td>
<td>11,532</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,532</td>
<td></td>
<td><sup class="reference" id="cite_ref-115"><a href="#cite_note-115">[111]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2015</td>
<td>102,336</td>
<td>13,091</td>
<td>11,597</td>
<td>6</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>11,603</td>
<td></td>
<td><sup class="reference" id="cite_ref-116"><a href="#cite_note-116">[112]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2015</td>
<td>116,373</td>
<td>14,037</td>
<td>17,272</td>
<td>206</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>17,478</td>
<td></td>
<td><sup class="reference" id="cite_ref-117"><a href="#cite_note-117">[113]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2016</td>
<td>131,883</td>
<td>15,510</td>
<td>12,420</td>
<td>2,400</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,820</td>
<td>2,615</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2016_118-0"><a href="#cite_note-Tesla1Q2016-118">[114]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2016</td>
<td>150,228</td>
<td>18,345</td>
<td>9,764</td>
<td>4,638</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>14,402</td>
<td>5,150</td>
<td><sup class="reference" id="cite_ref-119"><a href="#cite_note-119">[115]</a></sup><sup class="reference" id="cite_ref-120"><a href="#cite_note-120">[116]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2016</td>
<td>175,413</td>
<td>25,185</td>
<td>16,047</td>
<td>8,774</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>24,821</td>
<td>5,065</td>
<td><sup class="reference" id="cite_ref-121"><a href="#cite_note-121">[117]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2016<sup class="reference" id="cite_ref-122"><a href="#cite_note-122">[e]</a></sup></td>
<td>200,295</td>
<td>24,882</td>
<td>12,700</td>
<td>9,500</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,254</td>
<td>6,450</td>
<td><sup class="reference" id="cite_ref-123"><a href="#cite_note-123">[118]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2016final_124-0"><a href="#cite_note-Tesla4Q2016final-124">[119]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2017</td>
<td>225,713</td>
<td>25,418</td>
<td>~13,450</td>
<td>~11,550</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>25,051</td>
<td>~4,650</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2017_125-0"><a href="#cite_note-Tesla1Q2017-125">[120]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2017</td>
<td>251,421</td>
<td>25,708</td>
<td>~12,000</td>
<td>~10,000</td>
<td style="background:#f1f5fa;"></td>
<td style="background:#f1f5fa;"></td>
<td>22,026</td>
<td>~3,500</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2017_126-0"><a href="#cite_note-Tesla2Q2017-126">[121]</a></sup><sup class="reference" id="cite_ref-127"><a href="#cite_note-127">[122]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2017</td>
<td>276,757</td>
<td>25,336</td>
<td>14,065</td>
<td>11,865</td>
<td>222</td>
<td style="background:#f1f5fa;"></td>
<td>26,137</td>
<td>4,820</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2017_128-0"><a href="#cite_note-Tesla3Q2017-128">[123]</a></sup><sup class="reference" id="cite_ref-3Q2017Tesla250K_129-0"><a href="#cite_note-3Q2017Tesla250K-129">[124]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2017</td>
<td>301,322</td>
<td>24,565</td>
<td>~15,200</td>
<td>~13,120</td>
<td>1,542</td>
<td style="background:#f1f5fa;"></td>
<td>29,967</td>
<td>3,380</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2017_130-0"><a href="#cite_note-Tesla4Q2017-130">[125]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017_AggProduction_131-0"><a href="#cite_note-Tesla4Q2017_AggProduction-131">[126]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2017final_132-0"><a href="#cite_note-Tesla4Q2017final-132">[127]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2018</td>
<td>335,816</td>
<td>34,494</td>
<td>11,730</td>
<td>10,070</td>
<td>8,182</td>
<td style="background:#f1f5fa;"></td>
<td>29,997</td>
<td>6,100</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2018_133-0"><a href="#cite_note-Tesla1Q2018-133">[128]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2018</td>
<td>389,155</td>
<td>53,339</td>
<td>10,930</td>
<td>11,370</td>
<td>18,440</td>
<td style="background:#f1f5fa;"></td>
<td>40,740</td>
<td>15,058</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2018_134-0"><a href="#cite_note-Tesla2Q2018-134">[129]</a></sup><sup class="reference" id="cite_ref-Tesla2Q2018final_135-0"><a href="#cite_note-Tesla2Q2018final-135">[130]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2018</td>
<td>469,297</td>
<td>80,142</td>
<td>14,470</td>
<td>13,190</td>
<td>56,065</td>
<td style="background:#f1f5fa;"></td>
<td>83,725</td>
<td>11,824</td>
<td><sup class="reference" id="cite_ref-Tesla3Q2018_136-0"><a href="#cite_note-Tesla3Q2018-136">[131]</a></sup><sup class="reference" id="cite_ref-Tesla3Q2018final_137-0"><a href="#cite_note-Tesla3Q2018final-137">[132]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2018</td>
<td>555,852</td>
<td>86,555</td>
<td>13,500</td>
<td>14,050</td>
<td>63,359</td>
<td style="background:#f1f5fa;"></td>
<td>90,700</td>
<td>2,907</td>
<td><sup class="reference" id="cite_ref-Tesla4Q2018_138-0"><a href="#cite_note-Tesla4Q2018-138">[133]</a></sup><sup class="reference" id="cite_ref-Tesla4Q2018final_76-1"><a href="#cite_note-Tesla4Q2018final-76">[75]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2019</td>
<td>632,952</td>
<td>77,100</td>
<td colspan="2">12,100</td>
<td>50,900</td>
<td style="background:#f1f5fa;"></td>
<td>63,000</td>
<td>10,600</td>
<td><sup class="reference" id="cite_ref-Tesla1Q2019_139-0"><a href="#cite_note-Tesla1Q2019-139">[134]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2019</td>
<td>720,000</td>
<td>87,048</td>
<td colspan="2">17,650</td>
<td>77,550</td>
<td style="background:#f1f5fa;"></td>
<td>95,200</td>
<td>7,400</td>
<td><sup class="reference" id="cite_ref-Tesla2Q2019_140-0"><a href="#cite_note-Tesla2Q2019-140">[135]</a></sup><sup class="reference" id="cite_ref-wired20190703_141-0"><a href="#cite_note-wired20190703-141">[136]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q3 2019</td>
<td>816,155</td>
<td>96,155</td>
<td colspan="2">17,483</td>
<td>79,703</td>
<td style="background:#f1f5fa;"></td>
<td>97,186</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla3Q2019_142-0"><a href="#cite_note-Tesla3Q2019-142">[137]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q4 2019</td>
<td>921,046</td>
<td>104,891</td>
<td colspan="2">19,450</td>
<td>92,550</td>
<td style="background:#f1f5fa;"></td>
<td>112,000</td>
<td></td>
<td><sup class="reference" id="cite_ref-Tesla4Q2019_75-1"><a href="#cite_note-Tesla4Q2019-75">[74]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q1 2020</td>
<td>1,023,718</td>
<td>102,672</td>
<td colspan="2">12,200</td>
<td colspan="2">76,200</td>
<td>88,400</td>
<td></td>
<td><sup class="reference" id="cite_ref-143"><a href="#cite_note-143">[138]</a></sup>
</td></tr>, <tr style="text-align:center;">
<td>Q2 2020</td>
<td>1,105,990</td>
<td>82,272</td>
<td colspan="2">10,600</td>
<td colspan="2">80,050</td>
<td>90,650</td>
<td></td>
<td><sup class="reference" id="cite_ref-144"><a href="#cite_note-144">[139]</a></sup>
</td></tr>]

In [114]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Iteration 2

table_rows = full_table.select('tr')

table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text)
        table_data.append(row_list)

print(table_data)

[['Q1 2013', 'N/A', '5,000+', '4,900', '', '', '', '4,900', '', '[102]\n'], ['Q2 2013', 'N/A', 'N/A', '5,150', '', '', '', '5,150', '', '[103]\n'], ['Q3 2013', 'N/A', 'N/A', '5,500+', '', '', '', '5,500+', '', '[104]\n'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '', '6,892', '', '[105]\n'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '', '6,457', '', '[106]\n'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '', '7,579', '', '[107]\n'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '', '7,785', '', '[108]\n'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '', '9,834', '', '[109]\n'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '', '10,045', '', '[110]\n'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '', '11,532', '', '[111]\n'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '', '11,603', '', '[112]\n'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '', '17,478', '', '[113]\n'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '', '14,820', '2,615', '[114]\n'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '', '14,402', '5,150', '[115][116]\n'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '', '24,821', '5,065', '[117]\n'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500', '', '', '22,254', '6,450', '[118][119]\n'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '', '25,051', '~4,650', '[120]\n'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '', '22,026', '~3,500', '[121][122]\n'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '', '26,137', '4,820', '[123][124]\n'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '', '29,967', '3,380', '[125][126][127]\n'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '', '29,997', '6,100', '[128]\n'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '', '40,740', '15,058', '[129][130]\n'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '', '83,725', '11,824', '[131][132]\n'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '', '90,700', '2,907', '[133][75]\n'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '', '63,000', '10,600', '[134]\n'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '', '95,200', '7,400', '[135][136]\n'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '', '97,186', '', '[137]\n'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '', '112,000', '', '[74]\n'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[138]\n'], ['Q2 2020', '1,105,990', '82,272', '10,600', '80,050', '90,650', '', '[139]\n']]

In [115]:
# Extract the table data (rows)
# End result: A multi-dimensional list containing a list for each row

# Final Iteration

table_rows = full_table.select('tr')
table_data = []
for index, element in enumerate(table_rows):
    if index > 0:
        row_list = []
        values = element.select('td')
        for value in values:
            row_list.append(value.text.strip())
        table_data.append(row_list)

print(table_data)

[['Q1 2013', 'N/A', '5,000+', '4,900', '', '', '', '4,900', '', '[102]'], ['Q2 2013', 'N/A', 'N/A', '5,150', '', '', '', '5,150', '', '[103]'], ['Q3 2013', 'N/A', 'N/A', '5,500+', '', '', '', '5,500+', '', '[104]'], ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '', '6,892', '', '[105]'], ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '', '6,457', '', '[106]'], ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '', '7,579', '', '[107]'], ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '', '7,785', '', '[108]'], ['Q4 2014', '64,811', '11,627', '9,834', '', '', '', '9,834', '', '[109]'], ['Q1 2015', '76,438', '11,160', '10,045', '', '', '', '10,045', '', '[110]'], ['Q2 2015', '89,245', '12,807', '11,532', '', '', '', '11,532', '', '[111]'], ['Q3 2015', '102,336', '13,091', '11,597', '6', '', '', '11,603', '', '[112]'], ['Q4 2015', '116,373', '14,037', '17,272', '206', '', '', '17,478', '', '[113]'], ['Q1 2016', '131,883', '15,510', '12,420', '2,400', '', '', '14,820', '2,615', '[114]'], ['Q2 2016', '150,228', '18,345', '9,764', '4,638', '', '', '14,402', '5,150', '[115][116]'], ['Q3 2016', '175,413', '25,185', '16,047', '8,774', '', '', '24,821', '5,065', '[117]'], ['Q4 2016[e]', '200,295', '24,882', '12,700', '9,500', '', '', '22,254', '6,450', '[118][119]'], ['Q1 2017', '225,713', '25,418', '~13,450', '~11,550', '', '', '25,051', '~4,650', '[120]'], ['Q2 2017', '251,421', '25,708', '~12,000', '~10,000', '', '', '22,026', '~3,500', '[121][122]'], ['Q3 2017', '276,757', '25,336', '14,065', '11,865', '222', '', '26,137', '4,820', '[123][124]'], ['Q4 2017', '301,322', '24,565', '~15,200', '~13,120', '1,542', '', '29,967', '3,380', '[125][126][127]'], ['Q1 2018', '335,816', '34,494', '11,730', '10,070', '8,182', '', '29,997', '6,100', '[128]'], ['Q2 2018', '389,155', '53,339', '10,930', '11,370', '18,440', '', '40,740', '15,058', '[129][130]'], ['Q3 2018', '469,297', '80,142', '14,470', '13,190', '56,065', '', '83,725', '11,824', '[131][132]'], ['Q4 2018', '555,852', '86,555', '13,500', '14,050', '63,359', '', '90,700', '2,907', '[133][75]'], ['Q1 2019', '632,952', '77,100', '12,100', '50,900', '', '63,000', '10,600', '[134]'], ['Q2 2019', '720,000', '87,048', '17,650', '77,550', '', '95,200', '7,400', '[135][136]'], ['Q3 2019', '816,155', '96,155', '17,483', '79,703', '', '97,186', '', '[137]'], ['Q4 2019', '921,046', '104,891', '19,450', '92,550', '', '112,000', '', '[74]'], ['Q1 2020', '1,023,718', '102,672', '12,200', '76,200', '88,400', '', '[138]'], ['Q2 2020', '1,105,990', '82,272', '10,600', '80,050', '90,650', '', '[139]']]

In [116]:
table_data

[['Q1 2013', 'N/A', '5,000+', '4,900', '', '', '', '4,900', '', '[102]'],
 ['Q2 2013', 'N/A', 'N/A', '5,150', '', '', '', '5,150', '', '[103]'],
 ['Q3 2013', 'N/A', 'N/A', '5,500+', '', '', '', '5,500+', '', '[104]'],
 ['Q4 2013', '~34,851', '6,587', '6,892', '', '', '', '6,892', '', '[105]'],
 ['Q1 2014', '~41,438', '7,535', '6,457', '', '', '', '6,457', '', '[106]'],
 ['Q2 2014', '~48,973', '8,763', '7,579', '', '', '', '7,579', '', '[107]'],
 ['Q3 2014', '~57,736', '~7,075', '7,785', '', '', '', '7,785', '', '[108]'],
 ['Q4 2014', '64,811', '11,627', '9,834', '', '', '', '9,834', '', '[109]'],
 ['Q1 2015', '76,438', '11,160', '10,045', '', '', '', '10,045', '', '[110]'],
 ['Q2 2015', '89,245', '12,807', '11,532', '', '', '', '11,532', '', '[111]'],
 ['Q3 2015',
  '102,336',
  '13,091',
  '11,597',
  '6',
  '',
  '',
  '11,603',
  '',
  '[112]'],
 ['Q4 2015',
  '116,373',
  '14,037',
  '17,272',
  '206',
  '',
  '',
  '17,478',
  '',
  '[113]'],
 ['Q1 2016',
  '131,883',
  '15,510',
  '12,420',
  '2,400',
  '',
  '',
  '14,820',
  '2,615',
  '[114]'],
 ['Q2 2016',
  '150,228',
  '18,345',
  '9,764',
  '4,638',
  '',
  '',
  '14,402',
  '5,150',
  '[115][116]'],
 ['Q3 2016',
  '175,413',
  '25,185',
  '16,047',
  '8,774',
  '',
  '',
  '24,821',
  '5,065',
  '[117]'],
 ['Q4 2016[e]',
  '200,295',
  '24,882',
  '12,700',
  '9,500',
  '',
  '',
  '22,254',
  '6,450',
  '[118][119]'],
 ['Q1 2017',
  '225,713',
  '25,418',
  '~13,450',
  '~11,550',
  '',
  '',
  '25,051',
  '~4,650',
  '[120]'],
 ['Q2 2017',
  '251,421',
  '25,708',
  '~12,000',
  '~10,000',
  '',
  '',
  '22,026',
  '~3,500',
  '[121][122]'],
 ['Q3 2017',
  '276,757',
  '25,336',
  '14,065',
  '11,865',
  '222',
  '',
  '26,137',
  '4,820',
  '[123][124]'],
 ['Q4 2017',
  '301,322',
  '24,565',
  '~15,200',
  '~13,120',
  '1,542',
  '',
  '29,967',
  '3,380',
  '[125][126][127]'],
 ['Q1 2018',
  '335,816',
  '34,494',
  '11,730',
  '10,070',
  '8,182',
  '',
  '29,997',
  '6,100',
  '[128]'],
 ['Q2 2018',
  '389,155',
  '53,339',
  '10,930',
  '11,370',
  '18,440',
  '',
  '40,740',
  '15,058',
  '[129][130]'],
 ['Q3 2018',
  '469,297',
  '80,142',
  '14,470',
  '13,190',
  '56,065',
  '',
  '83,725',
  '11,824',
  '[131][132]'],
 ['Q4 2018',
  '555,852',
  '86,555',
  '13,500',
  '14,050',
  '63,359',
  '',
  '90,700',
  '2,907',
  '[133][75]'],
 ['Q1 2019',
  '632,952',
  '77,100',
  '12,100',
  '50,900',
  '',
  '63,000',
  '10,600',
  '[134]'],
 ['Q2 2019',
  '720,000',
  '87,048',
  '17,650',
  '77,550',
  '',
  '95,200',
  '7,400',
  '[135][136]'],
 ['Q3 2019',
  '816,155',
  '96,155',
  '17,483',
  '79,703',
  '',
  '97,186',
  '',
  '[137]'],
 ['Q4 2019',
  '921,046',
  '104,891',
  '19,450',
  '92,550',
  '',
  '112,000',
  '',
  '[74]'],
 ['Q1 2020',
  '1,023,718',
  '102,672',
  '12,200',
  '76,200',
  '88,400',
  '',
  '[138]'],
 ['Q2 2020', '1,105,990', '82,272', '10,600', '80,050', '90,650', '', '[139]']]

In [117]:
df = pd.DataFrame(table_data) 
df

,0,1,2,3,4,5,6,7,8,9
0,Q1 2013,N/A,"5,000+","4,900",,,,"4,900",,[102]
1,Q2 2013,N/A,N/A,"5,150",,,,"5,150",,[103]
2,Q3 2013,N/A,N/A,"5,500+",,,,"5,500+",,[104]
3,Q4 2013,"~34,851","6,587","6,892",,,,"6,892",,[105]
4,Q1 2014,"~41,438","7,535","6,457",,,,"6,457",,[106]
5,Q2 2014,"~48,973","8,763","7,579",,,,"7,579",,[107]
6,Q3 2014,"~57,736","~7,075","7,785",,,,"7,785",,[108]
7,Q4 2014,"64,811","11,627","9,834",,,,"9,834",,[109]
8,Q1 2015,"76,438","11,160","10,045",,,,"10,045",,[110]
9,Q2 2015,"89,245","12,807","11,532",,,,"11,532",,[111]
10,Q3 2015,"102,336","13,091","11,597",6,,,"11,603",,[112]
11,Q4 2015,"116,373","14,037","17,272",206,,,"17,478",,[113]
12,Q1 2016,"131,883","15,510","12,420","2,400",,,"14,820","2,615",[114]
13,Q2 2016,"150,228","18,345","9,764","4,638",,,"14,402","5,150",[115][116]
14,Q3 2016,"175,413","25,185","16,047","8,774",,,"24,821","5,065",[117]
15,Q4 2016[e],"200,295","24,882","12,700","9,500",,,"22,254","6,450",[118][119]
16,Q1 2017,"225,713","25,418","~13,450","~11,550",,,"25,051","~4,650",[120]
17,Q2 2017,"251,421","25,708","~12,000","~10,000",,,"22,026","~3,500",[121][122]
18,Q3 2017,"276,757","25,336","14,065","11,865",222,,"26,137","4,820",[123][124]
19,Q4 2017,"301,322","24,565","~15,200","~13,120","1,542",,"29,967","3,380",[125][126][127]
20,Q1 2018,"335,816","34,494","11,730","10,070","8,182",,"29,997","6,100",[128]
21,Q2 2018,"389,155","53,339","10,930","11,370","18,440",,"40,740","15,058",[129][130]
22,Q3 2018,"469,297","80,142","14,470","13,190","56,065",,"83,725","11,824",[131][132]
23,Q4 2018,"555,852","86,555","13,500","14,050","63,359",,"90,700","2,907",[133][75]
24,Q1 2019,"632,952","77,100","12,100","50,900",,"63,000","10,600",[134],None
25,Q2 2019,"720,000","87,048","17,650","77,550",,"95,200","7,400",[135][136],None
26,Q3 2019,"816,155","96,155","17,483","79,703",,"97,186",,[137],None
27,Q4 2019,"921,046","104,891","19,450","92,550",,"112,000",,[74],None
28,Q1 2020,"1,023,718","102,672","12,200","76,200","88,400",,[138],None,None
29,Q2 2020,"1,105,990","82,272","10,600","80,050","90,650",,[139],None,None

In [118]:
# Create a Pandas DataFrame

df = pd.DataFrame(table_data, columns=table_columns) 
df

,Quarter,Cumulative_production,Total_production,Model_S_sales,Model_X_sales,Model_3_sales,Model_Y_sales,Total_sales,In_transit,Source
0,Q1 2013,N/A,"5,000+","4,900",,,,"4,900",,[102]
1,Q2 2013,N/A,N/A,"5,150",,,,"5,150",,[103]
2,Q3 2013,N/A,N/A,"5,500+",,,,"5,500+",,[104]
3,Q4 2013,"~34,851","6,587","6,892",,,,"6,892",,[105]
4,Q1 2014,"~41,438","7,535","6,457",,,,"6,457",,[106]
5,Q2 2014,"~48,973","8,763","7,579",,,,"7,579",,[107]
6,Q3 2014,"~57,736","~7,075","7,785",,,,"7,785",,[108]
7,Q4 2014,"64,811","11,627","9,834",,,,"9,834",,[109]
8,Q1 2015,"76,438","11,160","10,045",,,,"10,045",,[110]
9,Q2 2015,"89,245","12,807","11,532",,,,"11,532",,[111]
10,Q3 2015,"102,336","13,091","11,597",6,,,"11,603",,[112]
11,Q4 2015,"116,373","14,037","17,272",206,,,"17,478",,[113]
12,Q1 2016,"131,883","15,510","12,420","2,400",,,"14,820","2,615",[114]
13,Q2 2016,"150,228","18,345","9,764","4,638",,,"14,402","5,150",[115][116]
14,Q3 2016,"175,413","25,185","16,047","8,774",,,"24,821","5,065",[117]
15,Q4 2016[e],"200,295","24,882","12,700","9,500",,,"22,254","6,450",[118][119]
16,Q1 2017,"225,713","25,418","~13,450","~11,550",,,"25,051","~4,650",[120]
17,Q2 2017,"251,421","25,708","~12,000","~10,000",,,"22,026","~3,500",[121][122]
18,Q3 2017,"276,757","25,336","14,065","11,865",222,,"26,137","4,820",[123][124]
19,Q4 2017,"301,322","24,565","~15,200","~13,120","1,542",,"29,967","3,380",[125][126][127]
20,Q1 2018,"335,816","34,494","11,730","10,070","8,182",,"29,997","6,100",[128]
21,Q2 2018,"389,155","53,339","10,930","11,370","18,440",,"40,740","15,058",[129][130]
22,Q3 2018,"469,297","80,142","14,470","13,190","56,065",,"83,725","11,824",[131][132]
23,Q4 2018,"555,852","86,555","13,500","14,050","63,359",,"90,700","2,907",[133][75]
24,Q1 2019,"632,952","77,100","12,100","50,900",,"63,000","10,600",[134],None
25,Q2 2019,"720,000","87,048","17,650","77,550",,"95,200","7,400",[135][136],None
26,Q3 2019,"816,155","96,155","17,483","79,703",,"97,186",,[137],None
27,Q4 2019,"921,046","104,891","19,450","92,550",,"112,000",,[74],None
28,Q1 2020,"1,023,718","102,672","12,200","76,200","88,400",,[138],None,None
29,Q2 2020,"1,105,990","82,272","10,600","80,050","90,650",,[139],None,None